@font-face {
    font-family: 'Aldrich';
    src: url('fonts/Aldrich-Regular.woff2') format('woff2'),
        url('fonts/Aldrich-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* * {
    border: 1px solid red;
} */

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-logo {
    background-image: url("images/background.jpg");
}

.logo {
    flex-grow: 1;
    width: 520px;

}

.container-form {
    flex-grow: 2;
    margin-left: 44px;
}

.header {
    font-weight: 600;
    font-size: 24px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

p {
    margin: 0px;
    width: 700px;

}


form {
    margin: 12px 0px;

    display: flex;
    flex-direction: row;
    gap: 48px;

}

.col {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

legend {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 20px;
}

label {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 12px;

}

input {
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}




.footer {
    font-weight: 600;
    font-size: 24px;
}